.card {
    max-width:300px;
    display: inline-flex;
    margin-top:30px;
    margin-left: 100px;
  }
  
  img{
    background-size: cover;
    height: 300px;
    width: 300px;
  }
  a{
    text-decoration: none;
    color: black;
  }