<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="true">
    <mat-toolbar><b>Menu</b></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="products">Products</a>
      <a mat-list-item routerLink="adminlogin">Admin login</a>
      <a mat-list-item routerLink="adminorder">Placed orders(Admin)</a>
      <a mat-list-item routerLink="contactus">About Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>   
    <mat-toolbar color="primary">
   
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      
      <span>Milk In Minutes</span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
