<div class="form-container">
    <h1>ADMIN LOGIN</h1>
    <img src="../../assets/login.jpeg">
    <form [formGroup]="adminlogin" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <input type="text" name="Username" matInput placeholder="UserName" formControlName="Username">
            <mat-error *ngIf="adminlogin.get('Username')?.hasError('required')">UserName is required</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <input type="password" name="Password" matInput placeholder="Password" formControlName="Password">
            <mat-error *ngIf="adminlogin.get('Password')?.hasError('required')">Password is required</mat-error>

        </mat-form-field><br>
        <button mat-raised-button color="primary" [disabled]="adminlogin.invalid" type="submit">Login</button>
        
    </form>
</div>
