<div class="container">
  <button class="logoutbutton" mat-raised-button color="primary" (click)="adminlogout()">Admin LogOut</button><br>
  <div class="card-container">
    <mat-card *ngFor="let x of orders" class="order-card">
      <mat-card-header>
        <mat-card-title> Order No : {{x.id}}</mat-card-title>
        <mat-card-subtitle><b>{{x.orderedItem}}</b></mat-card-subtitle>
      </mat-card-header><br>
      <img mat-card-image src="{{x.orderurl}}" alt="{{x.orderedItem}}"><br>
      <mat-card-content>
        <p>Customer Name : {{x.customerName}}</p>
        <p>Ordered Product Cost : {{x.orderedItemCost}}</p>
        <p>Ordered Quantity : {{x.orderQuantity}}</p>
        <p>Customer Address : {{x.customerAddress}}</p>
        <p>Customer Contact : {{x.customerNo}}</p>
        <p>Customer Email: {{x.customerEmail}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="delivered(x.id)">Delivered</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>